<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="?">
    <title>Bookers-edit</title>
  </head>
  <body>
    <h2>Editing Book</h2>
    <%= form_with model: @book, local:true do |f| %>
    <h3>Title</h3>
    <%= f.text_field :title %>
    <h3>Body</h3>
    <%= f.text_area :body %><br>
    <%= f.submit 'Update Book' %>
    <% end %>
    <%= link_to "Show", book_path(@book) %>
    <%= link_to "Back", books_path %>
  </body>
</html>
