<body>
  <% if @book.errors.any? %>
    <div class="red-text">
    <% if @book.errors.count == 1 %>
      <%= @book.errors.count %> error prohibited this book from being saved:
    <% else %>
      <%= @book.errors.count %> errors prohibited this book from being saved:
    <% end %>

    <% @book.errors.full_messages.each do |message| %>
    <br><%= message %>
    <% end %>
    </div>
  <% end %>


  <h1>Editing Book</h1>
  <%= form_with model: @book, local:true do |f| %>
    <div class="field">
    <label for="book_title">Title</label>
    <%= f.text_field :title %>
    </div>
    <div class="field">
    <label for="book_body">Body</label>
    <%= f.text_area :body %>
    </div>
    <div class="actions">
    <%= f.submit 'Update Book' %>
    </div>
  <% end %>

  <%= link_to "Show", book_path(@book) %> |
  <%= link_to "Back", books_path %>
</body>
